*{
	margin: 0;
	padding: 0;
}

a:hover{
	cursor: pointer;
}

#container{
	width: 1349px;
}

#header{
	height: 88px;
}

#header>img{
	width: 190px;
	height: 27px;
	margin-left: 80px;
	margin-top: 30px;
}

#bodyer{
	background-color: #fd912f;
	height: 600px;
	background-image: url(../img/img_login/TB1zL7YleSSBuNjy0FlXXbBpVXa-1190-600.jpg);
	background-position-x: 80px;
}

#login_div{
	background-color: white;
	width: 350px;
	height: 400px;
	position: relative;
	left: 850px;
	top: 90px;
}

.login_top{
	font-size: 17px;
	font-weight: 600;
	color: #3c3c3c;
	padding-top: 37px;
	padding-left: 25px;
}

#login_div>form>div{
	margin-top: 25px;
	margin-left: 35px;
	width: 300px;
	height: 42px;
}

#login_div>form>div>input{
	height: 40px;
	width: 220px;
	position: relative;
	top: -18px;
	left: -7px;
	border: 1px solid #cbcbcb;
	padding-left: 10px;
	color: #9b9b9b;
}

#login_div>form>div>button{
	width: 275px;
	height: 42px;	
	line-height: 42px;
	text-align: center;
	background-color: #ff0036;
	border: 1px solid white;
	font-size: 16px;
	font-weight: 700;
	color: white;
	letter-spacing: 5px;
	cursor: pointer;
}

#login_div>form>div>a{
	color: #6c6c6c;
	font-size: 12px ;
	margin-left: 10px;
}

.login_div_foot{
	padding-left: 80px;
}

#login_div>form>div>a:link,#login_div>form>div>a:link:visited{
	color: #6c6c6c;
	text-decoration: none;
}

#login_div>form>div>a:hover,#login_div>form>div>a:active{
	color: #ff0036;
}

#footer{
	height: 100px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-left: 80px;
	font-size: 12px;
}

#footer>a{
	margin-right: 10px;
}

#foot>a:link,#foot>a:visited{
	text-decoration: none;
	color: black;
}

#foot>a:hover,#foot>a:hover:active{
	text-decoration: underline;
}

#footer>div{
	color: #999999;
}


