html{
	background: #EFEFEF;
}
/*      header    start           */
#header{
	height: 40px;
	background: #FFFFFF;
}
.glyphicon-first{
	margin-left: -30px;
	width: 116%;
	height: 40px;
}
.glyphicon-first span{
	font-size: 13px;
}
.glyphicon-two{
	font-size: 16px;
}
/*      header    end             */

/*      left_menu    start         */
#left_menu{
	background: black;
	height: 796px;
}
#left_menu .left-img{
	padding:20px 0px 10px 0px;
	text-align: center;
	font-size: 22PX;
	color:#000000;
}
#left_menu .left-img img{
	border-radius: 55px;
	width:110px;
	height: 110px;
	
}
#left_menu .left-text{
	text-align: center;
	margin-bottom: 30px;
}
#left_menu .left-text a{
	font-size: 12px;
	color:#FF8E00;
}
.subNav{
	height: 40px;
	line-height: 35px;
	border: 1px solid black;
	font-size: 17px;
	margin-left: -7%;
	width: 114%;
	background: #FFFFFF;
	cursor:pointer;
}

.sub0 a:hover{
	text-decoration: none;
}
.navContent li{
	margin: 10px 0px 10px 0px;
}
.navContent li a{
	color: #FFFFFF;
}
/*      left_menu    end           */

/*      container    start         */

#container{
	height: 695px;
	background: #EFEFEF;
}
.addr{
	height: 30px;
	width: 102.4%;
	border-left: 1px solid #D6D7DA;
	margin-left: -15px;
	background: #000000;
}
.addr label{
	font-size: 13px;
	padding:8px 0px 0px 0px;
	color: #FFFFFF;
}
 
	/*      甯绔          start       */
	.container-in{
		height: 93%;
		width: 99%;
		margin: 5px auto;
		background-color: #FFFFFF;
	}
	.container-megUpdate{
		height: 93%;
		width: 99%;
		margin: 5px auto;
		background-color: #FFFFFF;
	}
	.ckb{
		height: 3%;
		width: 90%;
		margin: 5px 0px 20px 93px;
	}
	.ckb select{
		text-align: center;
	}
	/*      甯绔          end       */
	
	/*     宸插甯绔 --绠＄       start    */
	.container-subed{
		margin-top: 1%;
		background: #FFFFFF;
	}
	.container-draft{
		margin-top: 1%;
		background: #FFFFFF;
	}
	
	.subText{
		margin: 2% 0 0 2%;
	}
	.subText img{
		background-repeat: no-repeat;
		height: 60px;
	}
	.createMessage{
		margin:2% 0 3% 75%;
	}
	.createMessage ul li{
		width: 100px;
		height:28px;
		background: #FFFFFF;
		float: left;
	}
	.createMessage ul li a{
		display: block;
		text-align: center;
		width: 100px;
		height: 28px;
		line-height: 28px;
		font-size: 16px;
		font-weight: 500;
		color: black;
		text-decoration: none;
	}
	.createMessage ul li a:hover{
		background-color: #DBD7D7;
	 	color: #FFF;
	 	text-decoration: none;
	}
	
	.subInformation{
		margin-top: 2%;
	}
	.th-one{
		width: 50%;
	}
	/*     宸插甯绔 --绠＄       end    */
	/*     头像上传 --管理       start    */
	.container-img{
		margin: 10px 5px;
		width: 98%;
		min-height: 93%;
		background: #FFFFFF;
	}
	.in-img{
		margin-left: 190px;
	}
	
	/*相框样式设计  start*/
	
	.img-border{
		width: 130px;
		height: 180px;
		margin: 10px 30px;
		position: relative;	
		float: left;
		border:1px solid black;
        box-shadow: darkgrey 10px 10px 30px 5px ;
	
	}
	.img-border img{
		width: 130px;
		height: 180px;
	}
	
	.img-btn{
		position: absolute;
		top: 80px;
		display: none;
	}
	.text-style{
		display: block;
		width: 130px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
		border: 1px solid black;
		background: #FFFFFF;
		opacity:0.5;
	}
	.text-style:hover{
		text-decoration: none;
		opacity: 0.8;
	}
	/*相框样式设计  end*/
	
	/*     头像上传 --管理       end    */
	
	/*	后台首页        start    */
	.currmenu {
		background: url(../img/rignavbg.jpg) repeat-x scroll left top;
		background-size: 100% 77%;
		height: 100px;
	}
	
	
	.rig_nav li {
	float: left;
	line-height: 37px;
	border-right: 1px solid #DDDDDD;
	}
	.rig_nav li a {
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		padding: 0 25px;
	}
	.rig_seleli span {
		background: none repeat scroll 0 0 #C8C7C7;
		color: #FFFFFF;
		margin-right: 8px;
		padding: 0 5px 1px 2px;
		cursor:pointer;
	}
	.rig_seleli a {
		color: #638EC7;
		font-weight: bold;
	}
	
	
	.adtip {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #C8C7C7;
	height: 82px;
	}
	.goom {
		font-size: 14px !important;
		padding-bottom: 5px;
	}
	.tip {
		float: left;
		padding: 15px;
	}
	.tip p {
		font-size: 16px;
		line-height: 22px;
	}
	.tip p span {
		color: #638EC7;
		font-size: 16px;
		font-weight: bold;
		padding: 0 5px;
	}
	.adv {
		background: none repeat scroll 0 0 #FFEDBB;
		border: 1px solid #DCC074;
		float: right;
		height: 50%;
		line-height: 230%;
		margin-right: 20px;
		margin-top: 20px;
		padding: 0 16px;
		width: 40%;
	}
	.adv p {
		float:left;
	}
	.adv span {
		float: right;
		cursor:pointer;
	}

	.rig_link {
	height: 130px;
	padding: 15px 20px 15px 15px;
	border-bottom: 1px solid #C8C7C7;
	}
	.rig_link ul li {
		text-align: center;
		float:left;
		margin-right: 12px;
		line-height: 190%;
	}
	.rig_lm02,.rig_lm03{
		background: #FFFFFF;
		padding:0 20px 0 15px;
	}
	.rig_lm02 .icon, .rig_lm03 .icon{
		float:left;
		padding-right: 11px;
		padding-top: 11px;
	}
	.rig_lm02 h2,.rig_lm03 h2{
		float:left;
		font-size:14px;
		padding-right: 11px;
		padding-top: 11px;
	}
	
	.rig_lm02 .detail .det_inner {
		height: 180px;
		margin-bottom:10px;
		margin-top:10px;
	}
	.caozuo{
		margin-top: 30px;
		padding-bottom: 10px;
	}
	
	.scordeti {
		float:left;
	}
	.scordeti ul li {
		border: 1px solid #C8C7C7;
		float: left;
		height: 130px;
		margin-right: 30px;
	 *margin-right: 15px;
		margin-top: 28px;
		width: 155px;
	}
	.scordeti ul li p {
		font-size: 30px;
		height: 90px;
		line-height: 90px;
		text-align: center;
	}
	.scordeti ul li h3{
		text-align: center;
	}
	.ywc {
		color:#76bd42;
	}
	.wwc {
		color:#f3a056;
	}
	.ycd {
		color:#db6969;
	}
	
	/*页数导航*/
	.mainDaohang{
		margin:1% 0 0 27%;
	}
	.mainDaohang a{
		padding-right: 2%;
	}
	
	/*	后台首页        end    */
	
	/*	个人资料管理    start    */
	.container-infoEditor{
		width: 100%;
		height:660px;
	}
	.infoEditor_header{
		font-size: 17px;
		padding: 2% 1% 4% 0;
		margin: 0 0 0 0;
		border:#CDC1C1 solid 1px;
		color: #FD4D1E;
		background: #FFFFFF;
	}
	.infoEditor_header p{
		margin-left: 4%;
		float: left;
		font-weight: 600;
	}
	
	.editor{
		width: 100px;
		height:35px;
		margin-left: 65%;
		background: #00A1D6;
		float: left;
		border: #CDC1C1 solid 1px;
	}
	.editor ul li a{
		display: block;
		text-align: center;
		width: 100px;
		height: 35px;
		line-height: 35px;
		font-size: 16px;
		font-weight: 500;
	 	color: #FFFFFF;
		text-decoration: none;
	}
	.editor ul li a:hover{
		background-color: #5652F7;
	 	color: #FFFFFF;
	 	text-decoration: none;
	 	cursor:pointer;
	}
	
	.infoEditor_form{
		font-size: 14px;
		color: #48576a;
		height: 580px;
		padding: 1% 1% 1% 0;
		border:#CDC1C1 solid 1px;
		background: #FFFFFF;
	}
	.infoEditor_form form{
		line-height: 30px;
		padding-left: 10%;
	}
	#nicheng{
		width:40% ;
	}
	#emial{
		width:40% ;
	}
	#phone{
		width:45% ;
	}
	#birthday{
		width:50% ;
	}
	.infoEditor_form form  select{
		width: 70px;
	}
	
	
	
	/*	密码修改    start    */
	.container-webInfo{
		margin: 10px 5px;
		width: 98%;
		min-height: 93%;
		background: #FFFFFF;
	}
	#create-container{
		margin: 3%  0%;
	}
	#xiugai{
   		margin-left: 66%;
   		margin-top:3%;
    	width: 95px;
    	height: 45px;
	}
	.form-control{
		width:88%;
	}
	
	
	/*	密码修改    end    */
	
	/* 网站相关   start */
	.infoSum-Container{
		margin: 10px 5px;
		width: 98%;
		min-height: 93%;
		background: #FFFFFF;
	}
	#infoSum-container{
		margin: 3%  0%;
	}
	
/*      container    end          */

/*      footer    start           */

/*      footer    end            */